<%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-inline' } do |f| %>

<label style="display: <%= "#{@user.errors.any? ? 'none' : 'block'}" %>;"><h3>Request an invitation</h3></label>

<% if @user.errors.any? %>
	<div class="alert alert-error">Please enter a valid email</div>
<% end %>

<div class="input-prepend">
<%= f.text_field :email, :placeholder => 'Email address...' %>
</div>
<%= f.submit "Go", :class => "btn btn-custom", :id => 'invitation_button' %>
<% end %>
