<div class="span12">

	<h1>Something <strong>AWESOME</strong> is coming soon.</h1>

	<h2>Be the first to know...</h2>

	<div id="request-invite" class="form-inline">
		<%= render 'email_capture' %>
	</div>

</div>